* { margin:0; padding:0; box-sizing:border-box; }

body {
	background:black;
	color:rgba(255,255,255,.95);
	font-size:16px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}

section {
	padding:5em 0;
}

p {
	margin-top:1em;
}

h1, h2, h3 {
	color: rgba(255,255,255,.95);
	font-family: Arial, sans-serif;
}

h1{
	font-size: 60px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

h2{
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;	
}

h3{
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;		
}

img {
	display:block;
	width:100%;
}
<<<<<<< HEAD

a:hover{
	background-color: #AE8F13;
}



h3{
	
	
	

	#actioncall{
		background: #000
		color: #fff
		font-family: Arial, sans-serif;
		size:24px;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
}

	div{
		width: 150px;
		height: 50px;
		border: 2px solid white;
		margin: 20px;
}

	#slogan{
		background: #000
		color: #fff
		font-family: Arial, sans-serif;
		size:24px;
		font-style: italic;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

p{
	background: #000;
	color: #fff;
	font-family: Arial, sans-serif;
	size:16px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	text-transform: none;
hr}
	width: 600px; 
}

div{
"signup"
"Follow Me!"{
	background: #9C9997;
	color: #FAF6F5;
	font-family: Arial, sans-serif;
	size:14px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform:none;
	Padding: 2em 3em 2em 3em
	margin: "auto";
	rgba(100,150,150,.5)
}

"Pre-Order The Book!"{
	background: #9C9997;
	color: #FAF6F5;
	font-family: Arial, sans-serif;
	size:14px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform:none;
	Padding: 2em 3em 2em 3em
	Margin: "auto";
	rgba(100,150,150,.5)	
}

"Get Access!"{
	background: #9C9997;
	color: #FAF6F5;
	font-family: Arial, sans-serif;
	size:14px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform:none;
	Padding: 2em 3em 2em 3em
	Margin: "auto";
	rgba(100,150,150,.5)
}

"Download Your Gift!"{
	background: #9C9997;
	color: #FAF6F5;
	font-family: Arial, sans-serif;
	size:14px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform:none;
	Padding: 2em 3em 2em 3em
	Margin: "auto";
	rgba(100,150,150,.5)
}

span{
	font-variant: uppercase;
	font-family: Futura Light BT; Tahoma;
	letter-spacing: .25em; 
}

=======
.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
>>>>>>> 266fb7034f8d9ed9c1d6c29a548597c6134c5194
